//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
	font-size: 16px; //Em base unit
	font-size: 100%;
  color: $white;
}

p {
  font-size: 1em;
  line-height: 1.25em;
}

a {
	color: inherit;
}

img {
  height: auto;
	max-width: 100%;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1600px; // change to whatever 
  position: relative;
  @include clearfix();
  @include min-screen($bpMd) {
    // set breakpoints on a per-module basis when possible
  }
}

.site-content {
  top: 0;
  left: 0;
  position: fixed;
  // width: 100vw;
  // height: 100vh;
  overflow-y: scroll;
  background: rgba($black,0.5);
}

.load-mask {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;  
  background: $black;
  transition: opacity 0.3s;

  .loading-text {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
  }
}

body.loaded {
  .load-mask {
    opacity: 0;
    pointer-events: none;
  }
}