//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

body {
	font-size: 16px; //Em base unit
	font-size: 100%;
  overflow: hidden;
  @include font-paragraph;
  color: $white;
}

body {
  min-width: 320px;
  min-height: 480px;
}

p {
  font-size: 1em;
  line-height: 1.25em;
}

a {
	color: inherit;
}

img {
  height: auto;
	max-width: 100%;
}

// Load mask
.load-mask {
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: $black;
  transition: opacity 0.3s;
  img {
    top: 50%;
    left: 50%;
    content: '';
    width: 300px;
    height: 300px;
    position: absolute;
    transform: translate(-50%,-50%);
  }
}
body.loaded {
  .load-mask {
    opacity: 0;
    pointer-events: none;
  }
}

// Page showing
body {
  .page {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  &[data-current-page="home"] {
    #home {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &[data-current-page="details"] {
    #details {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &[data-current-page="submit"] {
    #submit {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

// Visually hide, accessibility-friendly
@mixin sr-only {
  border: 0;
  width: 1px;
  padding: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0,0,0,0);
}
.sr-only {
  @include sr-only;
}

// Debug UI
.orientation {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100px;
  color: $white;
  height: 100px;
  position: fixed;
}