.site-header {

  .title {
    top: 0;
    margin: 0;
    left: 50%;
    height: 100%;
    position: absolute;
    width: calc(100% - 180px);
    transform: translateX(-50%);

    @include media-md {
      width: 500px;
    }
  }

  .t, .f {
    left: 50%;
    color: $blue;
    display: block;
    @include font-h1;
    position: absolute;
    transform: translateX(-50%);
  }

  .t {
    top: 18vh;

    &::after {
      content: '—';
    }
  }

  .f {
    bottom: 18vh;

    &::before {
      content: '—';
    }
  }
}

.site-nav {
  color: $white;
  @include font-h4;

  @include media-md {
    @include font-h3;
  }

  .menu-item-list {
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 0 20px;
    list-style: none;
    @include clearfix;
    position: absolute;

    @include media-md {
      top: 0;
      left: 50%;
      width: 80%;
      height: 100%;
      bottom: auto;
      min-width: 600px;
      transform: translateX(-50%);
    }
  }

  .menu-item {
    top: 50%;
    width: 50%;
    float: left;
    overflow: auto;
    text-align: center;
    display: inline-block;

    a {
      display: block;
      padding: 48px 20px;

      &:hover {
        color: $blue;
      }
    }

    @include media-md {
      width: auto;
      position: absolute;
      transform: translateY(-50%);

      &.details {
        left: 0;
        transform: translateY(-50%) rotate(90deg);
      }

      &.submit {
        right: 0;
        transform: translateY(-50%) rotate(270deg);
      }
    }
  }
}