// Typography

// Fonts
$sans: Helvetica, sans-serif;
$serif: Georgia, serif;
$amp: Georgia, serif;

// Font Classes
.amp {
	font-family: $amp;
}

//sizes
$small: 0.5em;
$med: 1em;
$big: 3em;

// /* H1 Copy 14: */
// font-family: $mono;
// font-weight: normal;
// font-style: normal;
// font-size: 150px;
// letter-spacing: 1.25px;
// line-height: 1;

// /* H1 Copy: */
// font-family: $mono;
// font-weight: normal;
// font-style: normal;
// font-size: 50px;
// letter-spacing: 0.42px;
// line-height: 1;

// /* H2 Lorem Ipsum Dolor Copy: */
// font-family: $mono;
// font-weight: normal;
// font-style: normal;
// font-size: 24px;
// letter-spacing: 1.14px;
// line-height: ( 30 / 24 );

// /* H2 Lorem Ipsum Dolor Copy 4: */
// font-family: $mono;
// font-style: normal;
// font-weight: bold;
// font-size: 14px;
// text-transform: uppercase;
// letter-spacing: 1.5px;
// line-height: ( 20 / 14 );

// /* Sed nec bibendum aug Copy: */
// font-family: $mono;
// font-weight: normal;
// font-style: normal;
// font-size: 16px;
// letter-spacing: 1.14px;
// line-height: ( 20 / 16 );