// Variables

// Colors
$black: #090114;
$white: #fff;
$blue: #000AFF;
$blue-dark: #0C0061;
$black: #090114;
$white: #F0F0F0;

// Brand Swatches
// $brand-main: ;
// $brand-secondary: ;

// Breakpoints
$breakpoint-medium: 650px;
$breakpoint-medium-height: 560px;