// Variables

// Colors
$black: #090114;
$white: #fff;
$blue-light: #000AFF;
$blue-dark: #0C0061;
$black: #090114;
$gray: #F0F0F0;

// Brand Swatches
// $brand-main: ;
// $brand-secondary: ;

// Breakpoints
$bpSm: 30em; // 480px
$bpMd: 43.75em; // 700px
$bpLrg: 62.5em; // 1000px
$bpHuge: 187.5em; // 3000px