// Home page

.page {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;

  h2 {
    margin: 0;
    @include font-h3;

    @include media-md {
      @include font-h2;
    }

    .tf9 {
      display: block;
      @include font-h4;
    }
  }

  h3 + p {
    margin-top: 0;
  }

  p, h3 {
    margin: 20px 0;

    @include media-md {
      margin: 30px 0;
    }
  }

  h3 {
    @include font-h4;
    margin-bottom: 0;
  }

  a {
    &, span {
      text-decoration: underline;
    }
  }
}

.scrollbox {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 0;
  padding-right: 20px;

  :last-child {
    margin-bottom: 0;
  }

  @include media-md {
    overflow-y: visible;
  }
}

::-webkit-scrollbar-track
{
  border-radius: 0;
  -webkit-box-shadow: none;
  border: 1px solid $white;
  background-color: transparent;
}

::-webkit-scrollbar
{
  width: 10px;
  border-radius: 0;
  background-color: transparent;
}
::-webkit-scrollbar-thumb
{
  border-radius: 0;
  -webkit-box-shadow: none;
  background-color: $white;
}


.wrap-break {
  display: inline-block;
}

button {
  outline: 0;
  width: 230px;
  height: 50px;
  color: $white;
  @include font-h4;
  border-radius: 0;
  background: $blue;
  position: relative;
  margin: 0 0 10px 10px;
  border: 1px solid $black;

  &::before {
    right: 100%;
    top: 4px;
    content: '';
    width: 10px;
    background: $black;
    position: absolute;
    height: calc(100% + 1px);
    transform: skewY(-45deg);
  }

  &::after {
    top: 100%;
    left: -5px;
    content: '';
    height: 10px;
    background: $black;
    position: absolute;
    width: calc(100% + 1px);
    transform: skewX(-45deg);
  }
}

#home {
  padding: 0;
}


#details, #submit {

  .content {
    width: 240px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    @include media-md {
      width: 560px;
      .indented {
        padding-left: 100px;
      }
      .col {
        float: left;
        &:first-of-type {
          width: 200px;
        }
        &:nth-of-type(2) {
          width: calc(100% - 200px);
        }
      }
    }
  }
}

#details {
  padding-top: 23vh;

  @include media-md {
    padding-top: 34vh;
  }

  .content {
    @include media-md {
      position: static;
    }
  }

  .back-button {
    width: 240px;
    bottom: 40px;
    position: absolute;

    @include media-md {
      right: 9.2%;
      bottom: auto;
      width: 230px;
      top: calc(34% + 120px);
    }
  }
}

#submit {
  padding-top: 12.5vh;
  padding-bottom: 130px;

  @include media-md {
    padding-top: 37vh;
    padding-bottom: 0;
  }

  .back-button {
    width: 220px;
    position: absolute;
    top: calc(100% + 40px);

    @include media-md {
      right: 112.5%;
      bottom: auto;
      width: 230px;
      top: 100px;
    }
  }
}