// Home page

.page {
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
}

#details, #submit, #artists {
  padding-top: 12.5vh;
  padding-bottom: 130px;

  .content {
    width: 240px;
    height: 100%;
    margin: 0 auto;
    @include clearfix;
    position: relative;

    @include media-md {
      width: 560px;
      .indented {
        padding-left: 100px;
      }
      .col-wrap {
        @include clearfix;
      }
      .col {
        float: left;
        &:first-of-type {
          width: 200px;
        }
        &:nth-of-type(2) {
          width: calc(100% - 200px);
        }
      }
    }
  }

  .back-button {
    margin: 30px 0;
    width: 220px;

    @include media-md {
      width: 230px;
      margin-top: 30px;
      margin-bottom: 0;
      position: relative;
    }
  }

  @include media-md {
    padding: 0;

    .content {
      bottom: 0;
      height: auto;
      position: absolute;
      margin-bottom: 30px;
      left: calc( (100% - 560px) / 2);
      @include min-screen-height(700px) {
        top: auto;
        left: auto;
        position: relative;
      }
    }
  }
}

#details {
  @include media-md {
    .back-button {
      float: right;
    }

    @include min-screen-height(700px) {
      padding-top: 35vh;
    }
  }
}

#submit {

  overflow-y: scroll;
  @include media-md {
    overflow-y: visible;
    @include min-screen-height(700px) {
      padding-top: 35vh;
    }
  }
}

#artists {

  overflow-y: scroll;
  @include media-md {

    overflow-y: visible;
    @include min-screen-height(700px) {
      padding-top: 22vh;
    }
  }
}

#artists {
  .artist-list {
    list-style: none;
    padding-left: 0;
  }


  .content {

    @include media-md {
      width: 600px;
      .col {

        float: left;
        &:first-of-type, &:nth-of-type(2) {
          margin-left: 100px;
          width: 230px;
        }
        &:nth-of-type(2) {
          margin-left: 70px;
          width: 200px;
        }
      }
    }
  }
}